html {

    font-family: Arial, serif;
}

body {
    background-image: url("/rsc/images/1444/background_copy.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    height: 100%;
}

h1 {
    color: goldenrod;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;

}

#map-container {
}

.map {
    justify-content: center;
    position: relative;
    z-index: 0;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 0;
}

#globalMap {
    border-radius: 10%;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
}

img {
    display: none;
    width: 20vw;
    height: 15vw;
    z-index: 1;
}

#tooltips-container {
    display: none;
    background-image: url("../rsc/images/map-background-transformed.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4% 4%;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 3%;
    z-index: 1;
}

#map-container {
    border-radius: 3%;
    overflow: clip;
    position: relative;
    margin-top: 3vw;
    margin-right: 30vw;
    margin-left: 1%;
    justify-content: center;
    margin-bottom: 2vw;
}

#england-1444-img {
    grid-column: 1;
    grid-row: 1;
    display: none;
    width: 12vw;
    height: 15vw;
    z-index: 1;
    justify-content: center;
    padding-bottom: 1vw;
}

#england-text-container, #england-question {
    width: 20vw;
    height: 15vw;
}

.tooltip {
    display: grid;
    color: black;
    justify-content: center;
    font-weight: bold;
    overflow: auto;
    scroll-behavior: smooth;
    border-radius: 3%;
    z-index: 1;
    grid-column: 2;
    grid-row: 1;
    background-color: transparent;
    width: 20vw;
    height: 15vw;
}

.tooltip::-webkit-scrollbar {
    display: none;
}

.timeline-button {
    border-radius: 10%;
    height: 3vw;
    width: 7vw;
    margin: 0 0.5vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    justify-content: center;
}

.timeline-button img {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#timeline-container {
    margin-top: 1vw;
    padding: 1vw;
    display: flex;
    justify-content: space-evenly;
    grid-auto-flow: column;
    position: absolute;
    z-index: 1;

}

#toggle-button {
    background: transparent;
    grid-column: 2;
}

.tooltip-container {
    display: none;
    grid-gap: 0.5vw;
    z-index: 1;
    /*margin: 2vw 6vw;*/
}

button {
    justify-content: center;
    margin: 2px;
    border-radius: 6%;
    max-width: 10vw;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1vw;
    background-color: transparent;
}
#shield:hover{
    cursor: pointer;
}

.answer-button {
    background: transparent;
}

button:hover {
    opacity: 90%;
    border-color: white;
    cursor: pointer;
}

.tooltip-image {
    border-radius: 1%;
    grid-column: 1;
    grid-row: 1;
}

.tooltip-image:hover {
    cursor: pointer;
}

p {
    line-height: 1.2;
    margin: 1vw;
}

h1 {
    display: flex;
    justify-content: center;
}
area:hover{
    cursor: pointer;
}