html {
    background-image: url("/rsc/images/1444/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial, serif;
}

body {
    display: grid;
    justify-content: center;
    height: 100%;
}
h1{
    color: goldenrod;
    margin-top: 5vw;
    margin-bottom: 5vw;

}
map {
    justify-content: center;
    position: relative;
    z-index: 0;
}

h3 {
    display: grid;
    justify-content: center;
    font-size: xx-large;
}

#globalMap-1444-img {
    border-radius: 10%;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
}

img {
    display: none;
    width: 20vw;
    height: 15vw;
    z-index: 1;
}

#tooltip-container {
    display: none;
    background-image: url("../rsc/images/map-background-transformed.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6%;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: clip;
    border-radius: 3%;
    z-index: 1;
}

#mapContainer {
    border-radius: 10%;
    overflow: hidden;
    position: relative;
    margin-right: 40vw;
    margin-left: 1%;

}

#england-1444-img {
    grid-column: 1;
    grid-row: 1;
    display: none;
    width: 15vw;
    height: 20vw;
    z-index: 1;
    justify-content: center;
}
#england-text-container, #england-question {
    width: 15vw;
    height: 20vw;
}
.tooltip {
    display: grid;
    color: goldenrod;
    justify-content: center;
    font-weight: bold;
    overflow: auto;
    border-radius: 3%;
    z-index: 1;
    grid-column: 2;
    grid-row: 1;
    background-color: transparent;
    width: 20vw;
    height: 15vw;
}
.tooltip-contain{

}
/*.tooltip::-webkit-scrollbar{
    background-color: saddlebrown;
}*/

button {
    justify-content: center;
    margin: 2px;
    border-radius: 11%;
    max-width: 10vw;
}
.button-container {
    /*
    border: none;
    */
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1vw;
    background-color: gainsboro;
}
button:hover{
    opacity: 90%;
    border-color: white;
}



#muscovy-tooltip, #denmark-tooltip, #france-tooltip, #castile-tooltip, #brandenburg-tooltip,
#austria-tooltip, #poland-tooltip, #ottoman-tooltip, #england-tooltip {
    display: none;
    z-index: 1;
}


.tooltip-image {
    border-radius: 1%;
    grid-column: 1;
    grid-row: 1;
}


/*#muscovy-tooltip p, #poland-tooltip p, #ottoman-tooltip p, #austria-tooltip p, #denmark-tooltip p,
#brandenburg-tooltip p {
    margin: 2vw;
    grid-column: 1;
    grid-row: 2;
}*/

p {
    line-height: 1.2;
    margin: 2vw;
}

h1 {
    display: grid;
    justify-content: center;
}