#resultBar {
    padding: 1vw;
    width: 100%;
    background-image: url("/rsc/images/map-background-transformed.png");
    background-position: center;
    background-size: 200%;
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    display: grid;
    justify-content: space-evenly;
    grid-auto-flow: column;

}

#resultBar img {
    display: revert;
    max-width: 4vw;
    max-height: 4vw;
    filter: grayscale(70%);
    overflow: auto;
    flex: 1;
}

#resultBar img:hover {
    filter: grayscale(0%);
}