#resultBar {
    padding: 1vw;
    background-image: url("/rsc/images/map-background-transformed.png");
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

#resultBar img {
    display: revert;
    max-width: 4vw;
    max-height: 4vw;
    filter: grayscale(70%);
    overflow: auto;
    flex: 1;
}

#resultBar img:hover {
    filter: grayscale(0%);
}