#resultBar {
    margin-top: 2vw;
    max-width: 80vw;
    padding: 1vw;
    background-color: gainsboro;
    /*
    background-image: url("");
    */
    border-radius: 2vw;
    display: flex;
    justify-content: space-between;
    grid-auto-flow: column;
    grid-gap: 2%;

}
#resultBar img {
    display: revert;
    max-width: 4vw;
    max-height: 4vw;
    filter: grayscale(70%);
    overflow: auto;
    flex: 1;
}
#resultBar img:hover {
    filter: grayscale(0%);
}