body {
    display: grid;
    justify-content: center;
}

map {
    display: grid;
    justify-content: center;
    position: relative;
    z-index: 0;
}
h3{
    display: grid;
    justify-content: center;
    font-size: xx-large;
}

#globalMap-1444-img {
    display: grid;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
}

img {
    display: none;
    width: 20vw;
    height: 15vw;
    z-index: 1;
    justify-content: center;
}

#tooltip-container {
    display: none;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

#england-1444-img {
    grid-column: 1;
    grid-row: 1;
    display: none;
    width: 15vw;
    height: 20vw;
    z-index: 1;
    justify-content: center;
}


#muscovy-text-container, #denmark-text-container, #brandenburg-text-container, #austria-text-container, #poland-text-container,
#ottoman-text-container, #muscovy-question, #denmark-question, #brandenburg-question, #austria-question, #poland-question,
#ottoman-question{
    display: grid;
    color: goldenrod;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    overflow: auto;
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
    background-color: palegoldenrod;
    width: 20vw;
    height: 15vw;
}

#france-text-container, #castile-text-container, #france-question, #castile-question, #england-text-container, #england-question {
    display: grid;
    color: goldenrod;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    overflow: auto;
    z-index: 1;
    grid-column: 2;
    grid-row: 1;
    background-color: palegoldenrod;
    width: 20vw;
    height: 15vw;
}
button{
    margin: 2px;
    border-radius: 11%;
}
#england-text-container, #england-question {

    width: 15vw;
    height: 20vw;
}

#muscovy-tooltip, #denmark-tooltip, #france-tooltip, #castile-tooltip, #brandenburg-tooltip,
#austria-tooltip, #poland-tooltip, #ottoman-tooltip, #england-tooltip{
    display: none;
    z-index: 1;
}


#muscovy-tooltip img, #poland-tooltip img, #ottoman-tooltip img, #austria-tooltip img, #denmark-tooltip img,
#brandenburg-tooltip img {
    grid-column: 2;
    grid-row: 1;
}


#muscovy-tooltip p, #poland-tooltip p, #ottoman-tooltip p, #austria-tooltip p, #denmark-tooltip p,
#brandenburg-tooltip p {
    margin: 2vw;
    grid-column: 1;
    grid-row: 2;
}

p{
    line-height: 1.2;
    margin: 2vw;
}
h1{
    display: grid;
    justify-content: center;
}


