body {
    display: grid;
    justify-content: center;
}

map {
    display: grid;
    background-image: url("images/1444/globalMap1444.png");

    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
    width: 10vw;
    height: 10vw;
}

img{
    max-width: 20vw;
    max-height: 10vw;
    display: none;
}
map div {
max-width: 10vw;
}

#austria-1444-field {
    display: flex;
    max-width: 1080px;
    max-height: 720px;
}

#austria-1444-img {
    display: none;
    max-width: fit-content;
}

#austria-1444-img:hover {
    display: grid;
}